<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>yo yo yo</title>
</head>
<body>
    <main class="grid grid-cols-3">
        <div class="flex flex-col justify-center">
            <a href="/bingo"><img src="/static/bingo.jpeg" alt="bingo"></a>
            <a class="self-center" href="/bingo"><label for="bingo">Bingo</label></a>
        </div>
    </main>
</body>
</html>